@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a {
    color: white;
}

body {
    background-color: #ff4d00;
    padding: 20px;
}

.cart {
    position: fixed;
    right: 60px;
    bottom: 40px;
    z-index: 4;
    background-color: wheat;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 60px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cartBg {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 400px;
    z-index: 5;
    border-radius: 5% 0 0 5%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
}

.cartBg > h1 {
    position: absolute;
    right: 30px;
    top: 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 14px;

    margin-top: 12px;
    overflow-y: auto;
    flex: 1;
    padding-right: 6px;
}

.cartItem {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px;
    background: #f9f9f9;
    border-radius: 16px;
    position: relative;
}

.qtyControls {
    position: absolute;
    right: 8px;
}

.cartImg {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background: white;
    border-radius: 10px;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodName {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #ff4d00;
}

.foodPrice {
    font-size: 13px;
    color: #000
}

.checkOut {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0px 40px 0px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkOutBtn {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #ff4d00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.grandTotal {
    font-weight: bold;
    color: #00c036;
}

.deActive {
    visibility: hidden;
}

.closeCart {
    position: absolute;
    top: 24px;
    left: 20px;

    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightBtn {
    right: 0;
}

.qtyControls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qtyBtn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    background: #ff8b4d;
    color: white;
    font-size: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.qtyBtn.minus {
    background: #ddd;
    color: #333;
}

.qty {
    font-weight: 600;
    min-width: 16px;
    text-align: center;
}

.content::-webkit-scrollbar {
    height: 6px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}


@media (max-width: 740px) {
    .cart{
        right: 40px;
    }
}

@media (max-width: 600px) {
    .cart {
        right: 30px;
        bottom: 30px
    }
}

@media (max-width: 420px) {
    .cartBg {
        width: 100%;
    }
}