@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a {
    color: white;
}

body {
    background-color: #ff4d00;
    padding: 20px;
}

.cart {
    position: fixed;
    right: 60px;
    bottom: 40px;
    z-index: 4;
    background-color: wheat;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 60px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cartBg {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 30%;
    z-index: 5;
    border-radius: 5% 0 0 5%;
}

.deActive {
    visibility: hidden;
}

.closeCart {
    position: fixed;
    right: 25%;
    top: 2%;
    z-index: 6;
    cursor: pointer;
}

.rightBtn {
    right: 0;

}

.content::-webkit-scrollbar {
    height: 6px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}