.mainContainer {
    height: 80vh;
    display: flex;
    width: 100vw;
    padding: 40px;
}

.left {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}

.upper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 30%;
    padding: 25px

}

.upper > h1 {
    position: absolute;
    top: 0;
}

.upper > h2 {
    position: absolute;
    top: 50px;
}

#mealText {
    color: #ff8600;
}

.lower {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-right: 10%;
}

button {
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: wheat;
    font-weight: bold;
    color: #ff4d00;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 0.80rem;
}

button:hover {
    background-color: #ff8600;
    color: #fff;
}

.orderBtn {
    border-radius: 10px;
    padding: 5px 30px;
    margin-right: 5px;
    background-color: #ff8600;
    color: #fff;
}

.orderBtn:hover {
    background-color: #ff4d00;
    color: #fff;
    box-shadow: 0 0 10px #ff4d00;
}


.right {
    width: 40%;
    margin: 40px 60px 0 0;
}

.deliveryBoyIMG > img {
    width: 100%;
    height: 100%;
}

