body {
   background-color: #ff8600;
}

.signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.signUpFrom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(450px, 90%);
    height: 400px;
    gap: 20px;
    background-color: #fff;
    border-radius: 8%;
    color: #000;
    position: relative;
}

.inputDiv{
    display: flex;
    justify-content: center;
    width: min(400px, 80%);
}

.inputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 7px 10px;
    background: #fff;
    border-radius: 10px 0 0 10px;
}

input {
    width: 100%;
    height: 20px;
    padding: 20px 10px 20px 10px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    border: 1.5px solid #ff8600;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #ff4d00;
    box-shadow: 0 0 10px rgba(255, 38, 0, 0.8);
}

.submitButton > button {
    margin-top: 10px;
    background-color: #ff8600;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.submitButton > button:hover {
    box-shadow: 0 0 10px #ff4d00;
    background-color: #ff4d00;
    color: #fff;
}

.reDirectLogin {
    font-size: 0.85rem;
    color: #000;
}

.reDirectLogin > a {
    color: blue;
    font-size: 1rem;
}

.reDirectLogin > a:hover {
    text-decoration: underline;
}