.contentContainer {
    display: flex;
    margin-top: 10vh;
    padding: 40px 100px;
    background: rgba(255, 139, 77, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 50px;
    flex-wrap: wrap;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 155px;
    width: 155px;
}

.content > .contentBox > img {
    width: 80%;
    height: 80%;
}