.headerContainer {
    position: fixed;
    background: rgba(255, 139, 77, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    color: white;
    width: 97%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: bold;
    border-radius: 50px;
    z-index: 2;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.rightSection {
    height: 100%;
    width: 54rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchBarDiv {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.searchBar {
    flex: 1;
    min-width: 0;
    border-radius: 20px;
    border: 1.5px solid transparent;
    outline: none;
    width: 100%;
    height: 20px;
    padding: 20px 10px 20px 20px;
    transition: all 0.3s ease;
}

.searchBar:focus {
    box-shadow: 0 0 30px #ff4d00;
    border-color: #ff4d00;
}

.searchBtn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
}

.searchBtn:hover {
    background-color: #ff4d005a;
    box-shadow: 0 0 30px #ff4d00;
}

.searchBtnSVG {
    position: absolute;
    color: black;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
}

.selectCity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.city {
    color: #fff;
}

.select {
    width: 20px;
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
    color: #000;
    font-weight: bolder;
}

.extremeRight {
    display: flex;
    align-items: center;
    gap: 30px;
}

.extremeRight > p {
    cursor: pointer;
}   

.extremeRight > p:hover {
    background-color: #ff4d005a;
    box-shadow: 0 0 30px #ff4d00;
}

.hidden {
    display: none;
}

.deActive {
    visibility: hidden;
}

.logInPage {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: #fff;
    z-index: 5;
    border-radius: 5% 0 0 5%;
}

.closeLogInPage {
    position: fixed;
    right: 25%;
    top: 2%;
    z-index: 6;
    cursor: pointer;
}

.sideBar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: max(30vw, 300px);
    background-color: #ffffff58;
    backdrop-filter: blur(10px);
    z-index: 10;
    padding: 40px;
    border-radius: 20px 0 0 20px;
}

.sideBar > div {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-weight: bolder;
    width: 100%;
}

.sideBar > div > p {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.closeSideBar {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.sideBar > div > p:hover {
    background-color: rgba(240, 236, 236, 0.121);
}

@media (max-width: 800px) {
    .menu {
        display: block;
    }
}