.mainContainer {
    height: 80vh;
    display: flex;
    width: 100%;
    padding: 80px 40px 40px 40px;
    position: relative;
}

.left {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}

.upper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 30%;
    padding: 25px;
}

.upper > h1 {
    position: absolute;
    top: 0;
    z-index: 1;
}

.upper > h2 {
    position: absolute;
    top: 50px;
    z-index: -1;
}

#mealText {
    color: #fff;
}

.lower {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-right: 30%;
}

.button {
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: wheat;
    font-weight: bold;
    color: #ff4d00;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 0.80rem;
}

.button:hover {
    background-color: #ff8600;
    color: #fff;
}

.orderBtn {
    border-radius: 10px;
    padding: 5px 30px;
    margin-right: 5px;
    background-color: #ff8600;
    color: #fff;
}

.orderBtn:hover {
    background-color: #ebdc3b;
    color: #ff4d00;
    box-shadow: 0 0 10px #feeb17;
}


.right {
    position: absolute;
    right: 0;
    top: 60px;
    width: 350px;
    height: 350px;
    margin: 40px 40px 0 0;
}

.deliveryBoyIMG > img {
    width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    .headerContainer {
        font-size: 0.95rem;
    }

    .upper > h1{
        font-size: 1.75rem;
    }

    .upper > h2{
        font-size: 1.3rem;
    }

    .right{
        width: 300px;
        height: 300px;
    }

    .button {
        padding: 4.5px 18px;
    }

    .lower{
        margin-right: 28%;
    }
}

@media (max-width: 840px) {
    .upper > h1{
        font-size: 1.5rem;
    }
    .upper > h2{
        font-size: 1.2rem;
    }
    .right{
        width: 260px;
        height: 260px;
    }
        .button {
        padding: 4px 16px;
    }
}

@media (max-width: 770px) {
    .right{
        width: 250px;
        height: 250px;
    }
    .button {
    padding: 2px 8px;
    }
}

@media (max-width: 740px) {
    /*Tablet view */
}